<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate a News Article with NLP</title>
</head>
<body>
    
    <header>
        <div class="nadhira">
            <h1>Nadhira</h1>
        </div>
        <div class="titl">
            <h1>Evaluate A News Article with NLP</h1>
        </div>
    </header>
    <main>
        <section>
            <form method="post" onsubmit="return Client.handleFormSubmit(event)" id="form-section">
                <input id="inputURL" type="text" name="input"  placeholder="Enter URL">
                <input type="submit" value="submit">
            </form>
        </section>
        <section id ="results-section">
            <strong>Form Results:</strong>
            <div id="confidence"></div>
            <div id="agreement"></div>
            <div id="score_tag"></div>
            <div id="subjectivity"></div>
            <div id="model"></div>
            <div id="irony"></div>
        </section>
    </main>

    <footer>
        <p>Done by Nadhira</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>